{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %} 
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="container-fluid bg-dark">
            <div class="row justify-content-center align-items-center min-vh-100 ">
                <div class="col-md-6 text-center">
                    {% if purchasemanager.image %}
                        <img src="{{ purchasemanager.image.url }}" alt="Sales Manager's Image" class="img-fluid  mb-4" style="max-width: 100%; border-radius: 10px;">
                    {% else %}
                        <img src="{% static 'main/img/profile_none.jpeg' %}" alt="Sales Manager's Image" class="img-fluid  mb-4" style="max-width: 100%; border-radius: 10px;">
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
 
{% endblock content %}
